    <div fxFlexFill fxLayoutAlign="space-between center" class="mat-elevation-z5">
      <div>
        <div fxLayout="row">
          <div  fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
            <img class="flexImage" src="/assets/images/all_projects.jpg" width="92%">
          </div>
          <div fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
            <img class="flexImage" src="/assets/images/container_terminal.jpg" width="92%">
          </div>
          <div fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
            <img class="flexImage" src="/assets/images/oil_terminal.jpg" width="92%">
          </div>
          <div fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
            <img class="flexImage" src="/assets/images/multi_terminal.jpg" width="92%">
          </div>
        </div>
      </div>
    </div>