<div class="mat-elevation-z5" style="margin-top:0.5rem;">
  <div fxLayout="row">
    <div fxFlex="100%" fxFlexFill fxLayoutAlign="center center">
      <h3> سرمایه گذاران بندر بوشهر</h3>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="33%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
          <img class="flexImage" src="/assets/logo/sina_logo.jpg" alt="َشرکت خدمات دریایی و بندری سینا">
        </div>
        <div fxFlex>
          <h4>شرکت خدمات دریایی و بندری سینا</h4>
        </div>
      </div>
    </div>
    <div fxFlex="33%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
          <img class="flexImage" src="/assets/logo/Sepahan_logo.jpg" alt="َشرکت نفت سپاهان">
        </div>
        <div fxFlex>
          <h4>شرکت نفت سپاهان</h4>
        </div>
      </div>
    </div>
    <div fxFlex="33%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
          <img class="flexImage" src="/assets/logo/shimi_palayesh_sadaf_logo.jpg" alt="َشرکت شیمی پالایش صدف">
        </div>
        <div fxFlex>
          <h4>شرکت شیمی پالایش صدف</h4>
        </div>
      </div>
    </div>
  </div>
</div>