<div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex fxFlexFill>
        <div style="margin-top:3px;" class="mat-elevation-z6">
            <inv-slideshow></inv-slideshow>
        </div>
    </div>
    <div fxFlex fxFlexFill>
    </div>
    <div fxFlex fxFlexFill>
        <app-investors></app-investors>
    </div>
    <div fxFlex fxFlexFill>
        <app-perspective></app-perspective>
    </div>
    <div fxFlex fxFlexFill>
        <app-inv-opportunity></app-inv-opportunity>
    </div>
    <div fxFlex fxFlexFill>
        <app-spez-advantages></app-spez-advantages>
    </div>
    <div fxFlex fxFlexFill>
        <app-buz-tourism></app-buz-tourism>
    </div>
    <div fxFlex fxFlexFill>
        <app-port-facilities></app-port-facilities>
    </div>
    <div fxFlex fxFlexFill>
        <app-inv-faq></app-inv-faq>
    </div>
</div>
<router-outlet></router-outlet>