<div fxLayout="column">
  <div fxFlexFill fxFlex="100" fxLayoutAlign="center center">
    <h2>اسکله های بندر بوشهر</h2>
  </div>
  <div fxFlexFill fxFlex="100" fxLayoutAlign="center center">
    <img src="/assets/images/quay.jpg" style="margin-top: 2rem;" alt="">
  </div>
  <div fxFlexFill fxFlex="100" fxLayoutAlign="center center">
    <h2>انبارها</h2>
  </div>
  <div fxFlexFill fxFlex="100" fxLayoutAlign="center center">
    <img src="/assets/images/warehouse.jpg" style="margin-top: 2rem;" alt="">
  </div>
  <div fxFlexFill fxFlex="100" fxLayoutAlign="center center">
    <h2>تجهیزات بندری</h2>
  </div>
  <div fxFlexFill fxFlex="100" fxLayoutAlign="center center">
    <img src="/assets/images/equipments.jpg" style="margin-top: 2rem;" alt="">
  </div>
</div>