<div style="background-color:#3f51b5;margin:0">

	<!-- Start WOWSlider.com BODY section -->
	<!-- add to the <body> of your page -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>
				<li>
					<img src="assets/slideshow/images/slidephoto_15.jpg" alt="بندر بوشهر ، بندری به قدمت تاریخ" title="بندر بوشهر ، بندری به قدمت تاریخ"
					 id="wows1_0" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_2.jpg" alt="تجهیزات و امکانات پیشرفته تخلیه و بارگیری" title="تجهیزات و امکانات پیشرفته تخلیه و بارگیری"
					 id="wows1_1" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_1.jpg" alt="بندر بوشهر ، دومین بندر کانتینری ایران" title="بندر بوشهر ، دومین بندر کانتینری ایران"
					 id="wows1_2" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_4.jpg" alt="بندر بوشهر ، قدیمی ترین بندر تجاری ایران" title="بندر بوشهر ، قدیمی ترین بندر تجاری ایران"
					 id="wows1_3" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_3.jpg" alt="بندر بوشهر ، دومین بندر کانتینری ایران" title="بندر بوشهر ، دومین بندر کانتینری ایران"
					 id="wows1_4" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_5.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" title="بندر بوشهر ، تجربه یک اعتماد" id="wows1_5"
					/>
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_6.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" title="بندر بوشهر ، تجربه یک اعتماد" id="wows1_6"
					/>
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_7.jpg" alt="بندر بوشهر ، ایمنی و امنیت دریایی" title="بندر بوشهر ، ایمنی و امنیت دریایی"
					 id="wows1_7" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_8.jpg" alt="اسکله اختصاصی سفرهای دریایی" title="اسکله اختصاصی سفرهای دریایی" id="wows1_8"
					/>
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_9.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" title="بندر بوشهر ، تجربه یک اعتماد" id="wows1_9"
					/>
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_10.jpg" alt="تجهیزات و امکانات پیشرفته تخلیه و بارگیری" title="تجهیزات و امکانات پیشرفته تخلیه و بارگیری"
					 id="wows1_10" />
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_11.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" title="بندر بوشهر ، تجربه یک اعتماد" id="wows1_11"
					/>
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_12.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" title="بندر بوشهر ، تجربه یک اعتماد" id="wows1_12"
					/>
				</li>
				<li>
					<a href="http://wowslider.net">
						<img src="assets/slideshow/images/slidephoto_13.jpg" alt="wowslider.net" title="تجهیزات و امکانات پیشرفته تخلیه و بارگیری" id="wows1_13"
						/>
					</a>
				</li>
				<li>
					<img src="assets/slideshow/images/slidephoto_14.jpg" alt="بندر بوشهر ، دارای موقعیتی ویژه در جذب گردشگر خارجی" title="بندر بوشهر ، دارای موقعیتی ویژه در جذب گردشگر خارجی"
					 id="wows1_14" />
				</li>
			</ul>
		</div>
		<div class="ws_bullets">
			<div>
				<a href="#" title="بندر بوشهر ، بندری به قدمت تاریخ">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_15.jpg" alt="بندر بوشهر ، بندری به قدمت تاریخ" />1</span>
				</a>
				<a href="#" title="تجهیزات و امکانات پیشرفته تخلیه و بارگیری">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_2.jpg" alt="تجهیزات و امکانات پیشرفته تخلیه و بارگیری" />2</span>
				</a>
				<a href="#" title="بندر بوشهر ، دومین بندر کانتینری ایران">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_1.jpg" alt="بندر بوشهر ، دومین بندر کانتینری ایران" />3</span>
				</a>
				<a href="#" title="بندر بوشهر ، اولین بندر تجاری ایران">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_4.jpg" alt="بندر بوشهر ، قدیمی ترین بندر تجاری ایران" />4</span>
				</a>
				<a href="#" title="بندر بوشهر ، دومین بندر کانتینری ایران">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_3.jpg" alt="بندر بوشهر ، دومین بندر کانتینری ایران" />5</span>
				</a>
				<a href="#" title="بندر بوشهر ، تجربه یک اعتماد">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_5.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" />6</span>
				</a>
				<a href="#" title="بندر بوشهر ، تجربه یک اعتماد">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_6.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" />7</span>
				</a>
				<a href="#" title="بندر بوشهر ، ایمنی و امنیت دریایی">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_7.jpg" alt="بندر بوشهر ، ایمنی و امنیت دریایی" />8</span>
				</a>
				<a href="#" title="اسکله اختصاصی سفرهای دریایی">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_8.jpg" alt="اسکله اختصاصی سفرهای دریایی" />9</span>
				</a>
				<a href="#" title="بندر بوشهر ، تجربه یک اعتماد">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_9.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" />10</span>
				</a>
				<a href="#" title="تجهیزات و امکانات پیشرفته تخلیه و بارگیری">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_10.jpg" alt="تجهیزات و امکانات پیشرفته تخلیه و بارگیری" />11</span>
				</a>
				<a href="#" title="بندر بوشهر ، تجربه یک اعتماد">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_11.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" />12</span>
				</a>
				<a href="#" title="بندر بوشهر ، تجربه یک اعتماد">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_12.jpg" alt="بندر بوشهر ، تجربه یک اعتماد" />13</span>
				</a>
				<a href="#" title="تجهیزات و امکانات پیشرفته تخلیه و بارگیری">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_13.jpg" alt="تجهیزات و امکانات پیشرفته تخلیه و بارگیری" />14</span>
				</a>
				<a href="#" title="بندر بوشهر ، دارای موقعیتی ویژه در جذب گردشگر خارجی">
					<span>
						<img src="assets/slideshow/tooltips/slidephoto_14.jpg" alt="بندر بوشهر ، دارای موقعیتی ویژه در جذب گردشگر خارجی" />15</span>
				</a>
			</div>
		</div>
		<!-- <div class="ws_script" style="position:absolute;left:-99%">
		<div class="ws_shadow"></div> -->
	</div>
</div>