<div fxLayout="row" class="mat-elevation-z5" style="margin-top:0.5rem;">
  <div fxFlex="50%" fxLayoutAlign="center center" fxFlexAlign="center">
        <img src="assets/images/tourism.png" width="70%" alt="">
  </div>
  <div fxFlex="50%"  fxLayoutAlign="center center" fxFlexAlign="center">
    <div id="wowslider-container2">
      <div class="ws_images">
        <ul>
          <li>
            <img src="assets/slideshow/images/tourism_1.jpg" alt="tourism (1)" title="tourism (1)" id="wows2_0" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_2.jpg" alt="tourism (2)" title="tourism (2)" id="wows2_1" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_3.jpg" alt="tourism (3)" title="tourism (3)" id="wows2_2" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_4.jpg" alt="tourism (4)" title="tourism (4)" id="wows2_3" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_5.jpg" alt="tourism (5)" title="tourism (5)" id="wows2_4" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_6.jpg" alt="tourism (6)" title="tourism (6)" id="wows2_5" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_7.jpg" alt="tourism (7)" title="tourism (7)" id="wows2_6" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_8.jpg" alt="tourism (8)" title="tourism (8)" id="wows2_7" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_9.jpg" alt="tourism (9)" title="tourism (9)" id="wows2_8" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_10.jpg" alt="tourism (10)" title="tourism (10)" id="wows2_9" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_11.jpg" alt="tourism (11)" title="tourism (11)" id="wows2_10" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_12.jpg" alt="tourism (12)" title="tourism (12)" id="wows2_11" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_13.jpg" alt="tourism (13)" title="tourism (13)" id="wows2_12" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_14.jpg" alt="tourism (14)" title="tourism (14)" id="wows2_13" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_15.jpg" alt="tourism (15)" title="tourism (15)" id="wows2_14" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_16.jpg" alt="tourism (16)" title="tourism (16)" id="wows2_15" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_17.jpg" alt="tourism (17)" title="tourism (17)" id="wows2_16" />
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_18.jpg" alt="tourism (18)" title="tourism (18)" id="wows2_17" />
          </li>
          <li>
            <a href="http://wowslider.com/vi">
              <img src="assets/slideshow/images/tourism_19.jpg" alt="cssslider" title="tourism (19)" id="wows2_18" />
            </a>
          </li>
          <li>
            <img src="assets/slideshow/images/tourism_20.jpg" alt="tourism (20)" title="tourism (20)" id="wows2_19" />
          </li>
        </ul>
      </div>
      <div class="ws_script" style="position:absolute;left:-99%">
        <a href="http://wowslider.net">wowslider.net</a> by WOWSlider.com v8.7</div>
      <div class="ws_shadow"></div>
    </div>
  </div>
</div>