<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row style="min-height: 5rem;">
      <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center">
        <div fxFlex="40" fxFlexAlign="center" style="padding-top:13px">
            <img src="/assets/images/pmo_logo.png" alt="سازمان بنادر و دریانوردی" height="80%" width="auto">
        </div>
        <div fxFlex="5"></div>
        <div fxFlex="40" fxFlexAlign="center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex="50">سازمان بنادر و دریانوردی</div>
            <div fxFlex="50">اداره کل بنادر و دریانوردی استان بوشهر</div>
          </div>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>