<div fxLayout="column">
  <div fxFlex="10" fxFlexFill fxLayoutAlign="center center">
    <h3>چشم انداز توسعه بندر بوشهر در مجتمع بندری نگین</h3>
  </div>
  <div class="mat-elevation-z5" fxFlex="50%" fxFlexFill fxLayoutAlign="center center" style="margin-top:0.5rem;">
    <img src="/assets/images/perspective/perspective_total.jpg" width="100%" height="auto" alt="چشم انداز">
  </div>
  <div class="mat-elevation-z5" fxFlex="50%" fxFlexFill fxLayoutAlign="center center" style="padding-top:0.5rem;">
    <img src="/assets/images/perspective/perspective_container.jpg" width="100%" height="auto" alt="چشم انداز">
  </div>
  <!-- <div fxFlex="20" fxFlexFill fxLayoutAlign="center center">
  </div>
  <div fxFlex="100%" fxFlexFill fxLayoutAlign="center center">
    <div [innerHTML]="sanHtml"></div>
  </div> -->
</div>