<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex fxFlexFill>
    <div style="margin-top:3px;" class="mat-elevation-z6">
      <inv-slideshow></inv-slideshow>
    </div>
  </div>
  <!-- چشم انداز توسعه بندر در مجتمع بندری نگین -->
  <div fxFlex fxFlexFill>
    <div fxLayout="row">
      <div fxFlex="30%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxFlex="10%">
            <h4>چشم انداز توسعه بندر در مجتمع بندری نگین</h4>
          </div>
          <div fxFlex="85%" style="text-align:justify">
            <p>توسعه بندر بوشهر در مجتمع بندری نگین و احداث پایانه های جدید کانتینری ، پایانه مواد نفتی و فله مایع و پایانه
              چند منظوره ، در کنار فرصت های ایجاد شده بمنظور احداث صنابع تبدیلی ، نوید بخش چشم انداز روشنی در توسعه بندر
              بوشهراست </p>
          </div>
          <div fxFlex="5%">
            <a routerLink="/prospect">
              بیشتر بدانید ...
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="6%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
        <img src="assets/images/development.png" alt="">
      </div>
      <div fxFlex="30%"></div>
    </div>
    <hr>
  </div>
  <!-- مزیت های سرمایه گذاری در بندر بوشهر -->
  <div fxFlex fxFlexFill>
    <div fxLayout="row">
      <div fxFlex="30%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
        <img src="assets/images/advantages.png" alt="">
      </div>
      <div fxFlex="6%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxFlex="10%">
            <h4>مزیت ها و امتیازات سرمایه گذاری در بندر بوشهر</h4>
          </div>
          <div fxFlex="85%" style="text-align:justify">
            <p>بهره مندی از امتیازات منطقه ویژه ، معافیت های گمرکی ، معافیت های مالیاتی ، امکان مشارکت سرمایه گذار خارجی و مزیت
              های بسیار دیگر ، بندر بوشهر را به فرصتی جذاب برای سرمایه گذاران داخلی و خارجی تبدیل نموده است</p>
          </div>
          <div fxFlex="5%">
            <a routerLink="/advantages">
              بیشتر بدانید...
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="30%"></div>
    </div>
    <hr>
  </div>
  <!-- زمینه های سرمایه گذاری در بندر بوشهر -->
  <div fxFlex fxFlexFill>
    <div fxLayout="row">
      <div fxFlex="30%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxFlex="10%">
            <h4>فرصت های طلایی سرمایه گذاری در بندر بوشهر</h4>
          </div>
          <div fxFlex="85%" style="text-align:justify">
            <p>مشارکت و سرمایه گذاری در احداث پایانه کانتینری ، پایانه نفتی و فله مایع ، پایانه چند منظوره ، صنابع تولیدی و
              بسته بندی ، خدمات بندری و ... زمینه های متنوع و جذابی را برای سرمایه گذاران داخلی و خارجی فراهم آورده است </p>
          </div>
          <div fxFlex="5%">
            <a routerLink="/opportunity">
              بیشتر بدانید ...
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="6%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
        <img src="assets/images/invest_field.png" alt="">
      </div>
      <div fxFlex="30%"></div>
    </div>
    <hr>
  </div>
  <!-- پروژه های توسعه مجتمع بندری نگین -->
  <div fxFlex fxFlexFill>
    <div fxLayout="row">
      <div fxFlex="30%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
        <img src="assets/images/projects.jpg" alt="">
      </div>
      <div fxFlex="6%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxFlex="10%">
            <h4>پروژه های توسعه مجتمع بندری نگین</h4>
          </div>
          <div fxFlex="85%" style="text-align:justify">
            <p>پروژه احداث پایانه کانتینری ، پایانه فله مایع و نفتی و پایانه چند منظوره ، پروژه های در دست اجرای توسعه مجتمع
              بندری نگین و فرصتی جذاب برای سرمایه گذاری در بندر بوشهر می باشند</p>
          </div>
          <div fxFlex="5%">
            <a routerLink="/neginprojects">
              بیشتر بدانید...
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="30%"></div>
    </div>
    <hr>
  </div>
  <!-- سرمایه گذاران و ذینفعان فعلی بندر -->
  <div fxFlex fxFlexFill>
    <div fxLayout="row">
      <div fxFlex="30%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxFlex="10%">
            <h4>سرمایه گذاران و ذینفعان فعلی بندر</h4>
          </div>
          <div fxFlex="85%" style="text-align:justify">
            <p>در حال حاضر ،شرکت های خدمات دریایی و بندری سینا ،نفت سپاهان ، شیمی پالایش صدف و شرکت تضامنی گروه ارجمندی و شرکاء
              ،سرمایه گذاران اصلی پروژه های توسعه ای بندر بوشهر می باشند</p>
          </div>
          <div fxFlex="5%">
            <a routerLink="/investors">
              بیشتر بدانید ...
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="6%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
        <img src="assets/images/investors.png" alt="">
      </div>
      <div fxFlex="30%"></div>
    </div>
    <hr>
  </div>
  <!-- امکانات ، تجهیزات و تسهیلات بندر -->
  <div fxFlex fxFlexFill>
    <div fxLayout="row">
      <div fxFlex="30%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
        <img src="assets/images/facilities.jpg" alt="">
      </div>
      <div fxFlex="6%"></div>
      <div fxFlex="22%" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxFlex="10%">
            <h4>امکانات ، تجهیزات و تسهیلات بندر</h4>
          </div>
          <div fxFlex="85%" style="text-align:justify">
            <p>تجهیزات دریایی و بندری ، اسکله ها ، باراندازها و انبارها و ... </p>
          </div>
          <div fxFlex="5%">
            <a routerLink="/facilities">
              بیشتر بدانید...
            </a>
          </div>
        </div>
      </div>
      <div fxFlex="30%"></div>
    </div>
    <hr>
  </div>
  <!-- فرآیند سرمایه گذاری در بندر بوشهر -->
  <div fxFlex fxFlexFill>
      <div fxLayout="row">
        <div fxFlex="30%"></div>
        <div fxFlex="22%" fxLayoutAlign="center center">
          <div fxLayout="column">
            <div fxFlex="10%">
              <h4>فرآیند سرمایه گذاری در بندر بوشهر</h4>
            </div>
            <div fxFlex="85%" style="text-align:justify">
              <p>جهت آشنایی با فرآیند سرمایه گذاری در بندر بوشهر این بخش را ملاحظه فرمایید</p>
            </div>
            <div fxFlex="5%">
              <a routerLink="/investflow">
                بیشتر بدانید ...
              </a>
            </div>
          </div>
        </div>
        <div fxFlex="6%"></div>
        <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
          <img src="assets/images/invest_flowchart.png" alt="">
        </div>
        <div fxFlex="30%"></div>
      </div>
      <hr>
    </div>
    <!-- جاذبه های گردشگری و فرهنگی بندر بوشهر -->
    <div fxFlex fxFlexFill>
      <div fxLayout="row">
        <div fxFlex="30%"></div>
        <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
          <img src="assets/images/tourism.png" alt="">
        </div>
        <div fxFlex="6%"></div>
        <div fxFlex="22%" fxLayoutAlign="center center">
          <div fxLayout="column">
            <div fxFlex="10%">
              <h4>جاذبه های گردشگری و فرهنگی بندر بوشهر</h4>
            </div>
            <div fxFlex="85%" style="text-align:justify">
              <p>تجهیزات دریایی و بندری ، اسکله ها ، باراندازها و انبارها و ... </p>
            </div>
            <div fxFlex="5%">
              <a routerLink="/tourism">
                بیشتر بدانید...
              </a>
            </div>
          </div>
        </div>
        <div fxFlex="30%"></div>
      </div>
      <hr>
    </div>
      <!-- سوالات متداول -->
  <div fxFlex fxFlexFill>
      <div fxLayout="row">
        <div fxFlex="30%"></div>
        <div fxFlex="22%" fxLayoutAlign="center center">
          <div fxLayout="column">
            <div fxFlex="10%">
              <h4>سوالات متداول</h4>
            </div>
            <div fxFlex="85%" style="text-align:justify">
              <p>برای مشاهده سوالات و پرسش های متداول این بخش را ملاحظه فرمایید</p>
            </div>
            <div fxFlex="5%">
              <a routerLink="/invfaq">
                بیشتر بدانید ...
              </a>
            </div>
          </div>
        </div>
        <div fxFlex="6%"></div>
        <div fxFlex="22%" fxLayoutAlign="center center" style="margin-top: 2rem;margin-bottom: 2rem;">
          <img src="assets/images/faq.png" alt="">
        </div>
        <div fxFlex="30%"></div>
      </div>
      <hr>
    </div>
</div>
<router-outlet></router-outlet>