<div fxLayout="column" style="margin-top:0.5rem;" >
  <div class="mat-elevation-z5" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">
    <img src="/assets/images/invest_fields.png" width="100%" height="auto" alt="زمینه های سرمایه گذاری">
  </div>
  <div fxLayout="row">
    <div fxFlex="100%" fxFlexFill fxLayoutAlign="center center">
      <h3>پروژه های توسعه بندر بوشهر</h3>
    </div>
  </div>
  <div fxFlex="50%" fxFlexFill fxLayoutAlign="space-between center" class="mat-elevation-z5">
    <div>
      <div fxLayout="row">
        <div  fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
          <img class="flexImage" src="/assets/images/all_projects.jpg" width="92%">
        </div>
        <div fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
          <img class="flexImage" src="/assets/images/container_terminal.jpg" width="92%">
        </div>
        <div fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
          <img class="flexImage" src="/assets/images/oil_terminal.jpg" width="92%">
        </div>
        <div fxFlex="25%" fxFlexFill fxFlexAlign="center" fxLayoutAlign="space-between center">
          <img class="flexImage" src="/assets/images/multi_terminal.jpg" width="92%">
        </div>
      </div>
    </div>
  </div>
</div>